.stream-card:hover .stream-card-status {
  opacity: 1;
}

.stream-card:hover img {
  opacity: 1;
}

.stream-card {
  width: 100%;
  background: black;
}

.stream-card-status {
  color: white;
  padding-top: 6px;
  width: 332px;
  height: 35px;
  background-color: #00000099;
  margin-top: -6px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  opacity: 0.5;
}

img {
  transition: .2s ease;
  opacity: 0.8;
  height: 220px;
  width: 100%;
  background-color: dimgrey;
  cursor: pointer;
}


